* {
font-family: 'Arvo', serif;
background-color: gray;
}
body {
  text-align: center;

}
html {
  height: 100%;
  margin-bottom: 0px;
  padding: 0px;
}
img {
  padding: 40px;
}
main {
  display: inline-flex;
}
.un, .deux, .trois, .quatre, .cinq, .six {

  text-align: left;
  display: none;
}

#epaule, #coude, #poignet, #hanche, #genou, #cheville {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius:20px;
  position:relative;
  opacity: 0.7;
}
#epaule{
  top:140px;
  right:180px;
}
#coude {
  top:220px;
  right:108px;
}
#poignet {
  top:265px;
  right:262px;
}
#hanche {
  top:280px;
  right:220px;
}
#genou {
  top:400px;
  right:310px;
}
#cheville {
  top:470px;
  right:308px;
}
#epaule:hover .un, #coude:hover .deux, #poignet:hover .trois, #hanche:hover .quatre, #genou:hover .cinq, #cheville:hover .six {
	display: block;
}

p, strong {
  width: 219px;
  height:578px;
}
#texteun, #textedeux, #textetrois, #textequatre, #textecinq, #textesix {
  position: absolute;
}
#texteun {
left:158px;
top: -50px;
}
#textedeux {
left:48px;
top:-129px;
}
#textetrois {
left:162px;
top: -173px;
}
#textequatre {
left:79px;
top: -189px;
}
#textecinq {
left:128px;
top: -305px;
}
#textesix {
left:87px;
top: -377px;
}
html {
  height: 100%;
  margin-bottom: 0px;
  padding: 0px;
}
